


.flex-container-center {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

}

.container-home-nav{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: content-box;
  height: 98vh;
  background-color: rgb(0,0,0);
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box-home-nav{
  box-sizing: border-box;
    justify-content: space-between;
}

.container-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
  background-color: rgb(0,0,0);
  justify-content: space-between;
  justify-content: space-around;
  align-items: baseline;

}

.box-nav{
  box-sizing: border-box;
  justify-content: space-between;
}

.container-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.box-gallery{
box-sizing: border-box;


}

.container-footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: content-box;
  background-color: rgb(0,0,0);
  justify-content: space-around;
  align-items: center;
}

.box-footer{
  box-sizing: border-box;
  padding-bottom: 3rem;
}


.container-projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
  margin: auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-projects{
  box-sizing: content-box;
  padding: 2rem;
  padding-top: 3rem;
  padding-left: 6rem;
}

/*/////////////////////////////////////////////////////////////////////////////*/

.container-about{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
  width:90%;
  margin: auto;
}


.box-about{
  box-sizing: border-box;
  padding-top: 1rem;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0;
}

.box-title{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  padding-top:0;
    margin: 0;
}

.container-bio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:90%;
  margin: auto;
  align-items:center;
}

.box-bio{
  box-sizing: border-box;
  justify-content: space-between;
}


/* This makes it so when the screen goes below 1112px, the order changes on the elements in the nav  */
@media screen and (max-width: 1112px) {

.box-nav:nth-child(1) {
order: 2;
}

.box-nav:nth-child(2) {
order: 1;
}

}

@media screen and (max-width: 768px) {



  .box-title{
    padding:0;
  }

  .box-bio{
    padding:0;
  }

}

@media screen and (max-width: 576px){

  .box-projects{
    padding-left: 1rem;
  }


}
