$dark-red: #B31414;
$bright-red: #CA1616;
$white: #ffffff;
$black: #000000;
$dark-grey: #333333;
$light-grey: #ebebeb;

.color-palette-0{
  background-color: $dark-red;
  /* red*/
}

.color-palette-1{
  background-color: $bright-red;
  /* light red*/
}

.color-palette-2{
  background-color: $black;
    /* black*/
}

.color-palette-3{
   background-color: $dark-grey;
    /* dark grey*/
}

.color-palette-4{
  background-color: $light-grey;
    /* light grey*/
}

.color-palette-5{
  background-color: $white;
    /* white*/
}
