.color-palette-0 {
  background-color: #B31414;
  /* red*/
}

.color-palette-1 {
  background-color: #CA1616;
  /* light red*/
}

.color-palette-2 {
  background-color: #000000;
  /* black*/
}

.color-palette-3 {
  background-color: #333333;
  /* dark grey*/
}

.color-palette-4 {
  background-color: #ebebeb;
  /* light grey*/
}

.color-palette-5 {
  background-color: #ffffff;
  /* white*/
}